.App {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

.App-card {
  flex-basis: content;
}